In [1]:
import pandas as pd

In [10]:
# Q1. Create a DataFrame from the given dictionary data and index labels and store it in the variable called “df”.#

import pandas as pd

# Input 
data = {'Artist': ['Ariana Grande', 'Taylor Swift', 'Ed Sheeran', 'Justin Bieber', 'Lady Gaga', 'Bruno Mars'],
        'Genre': ['Jazz', 'Rock', 'Jazz', 'Pop', 'Pop', 'Rock'],
        'Listeners': [1300000, 2700000, 5000000, 2000000, 3000000, 1100000]}

labels = ['AG', 'TS', 'ED', 'JB', 'LG', 'BM']

# Your solution goes here

df = pd.DataFrame(data, index=labels)
print(df)

           Artist Genre  Listeners
AG  Ariana Grande  Jazz    1300000
TS   Taylor Swift  Rock    2700000
ED     Ed Sheeran  Jazz    5000000
JB  Justin Bieber   Pop    2000000
LG      Lady Gaga   Pop    3000000
BM     Bruno Mars  Rock    1100000

In [16]:
# Q2. a) Select the column labelled “Listeners” and store it in the variable called “col”. b) Select the first row and store it in the variable called “row”.#

row = df.iloc[0] # or df.loc['AG']
col = df['Listeners']

print(col)

print("Row:", row)

AG    1300000
TS    2700000
ED    5000000
JB    2000000
LG    3000000
BM    1100000
Name: Listeners, dtype: int64
Row: Artist       Ariana Grande
Genre                 Jazz
Listeners          1300000
Name: AG, dtype: object

In [18]:
# Q3. Select all the rows where the Genre is ‘Pop’ and store the result in the variable “pop_artists”.#

pop_artists = df[df['Genre'] == 'Pop']
pop_artists.head()

           Artist Genre  Listeners
JB  Justin Bieber   Pop    2000000
LG      Lady Gaga   Pop    3000000

In [21]:
# Q4. Select the artists who have more than 2,000,000 listeners and whose Genre is ‘Pop’ and save the output in the variable called “top_pop”.#

top_pop = df[(df['Listeners'] > 2000000) & (df['Genre'] == 'Pop')]

top_pop.head()

       Artist Genre  Listeners
LG  Lady Gaga   Pop    3000000

In [27]:
# Q5. Perform a grouping by Genre using sum() as the aggregation function and store the results in the variable called “grouped”.#

grouped = df.groupby('Genre').sum()
grouped

       Listeners
Genre
Jazz     6300000
Pop      5000000
Rock     3800000