In [2]:
import pandas as pd

series = pd.Series([0, 1, 2, 3])

print(series)

0    0
1    1
2    2
3    3
dtype: int64

In [6]:
import pandas as pd 

fruits_dict = { 'apples': 10,
                'oranges': 338,
                'bananas': 3222,
                'strawberries': 210}

fruits = pd.Series(fruits_dict)
print("Value for apples: ", fruits['apples'], "\n")

# Series also supports array-style operations such as slicing:
print(fruits['bananas':'strawberries'])

Value for apples:  10

bananas         3222
strawberries     210
dtype: int64

In [9]:
import pandas as pd 

data_s1 = pd.Series([12, 24, 33, 15], 
           index=['apples', 'bananas', 'strawberries', 'oranges'])

# 'quantity' is the name for our column
dataframe1 = pd.DataFrame(data_s1, columns=['quantity'])
print(dataframe1)

              quantity
apples              12
bananas             24
strawberries        33
oranges             15

In [10]:
dict = {"country": ["Norway", "Sweden", "Spain", "France"],
       "capital": ["Oslo", "Stockholm", "Madrid", "Paris"],
       "SomeColumn": ["100", "200", "300", "400"]}

data = pd.DataFrame(dict)
print(data)

  country    capital SomeColumn
0  Norway       Oslo        100
1  Sweden  Stockholm        200
2   Spain     Madrid        300
3  France      Paris        400

In [11]:
import pandas as pd 

quantity = pd.Series([12, 24, 33, 15], 
           index=['apples', 'bananas', 'strawberries', 'oranges'])

price = pd.Series([4, 4.5, 8, 7.5], 
           index=['apples', 'bananas', 'strawberries', 'oranges'])
           
df = pd.DataFrame({'quantity': quantity,
                    'price': price})
print(df)

              quantity  price
apples              12    4.0
bananas             24    4.5
strawberries        33    8.0
oranges             15    7.5